.linkicon{
    color: $iconcolor;
}
.fobottom{
  background-color: $fobottom;
}
.bottommade{
   color: $bottommade;
}
.inputcontact {
    position: relative;
   }
.newsbtn{
    position: absolute;
    top: 0%;
    right: 0;
    background-color: $newsbtn;
}
.foticons{
    background: $foticons;
    padding: 5px;
}
.btn7{
    background-color: $btns  !important;
}
