$navtoggle: #5fa027;
$nav-linkhover:#5fa027;
$navsshover:#5fa027;
$dropdown-itemhover:#5fa027;
$heading: #5fa027;
$iconcolor: #5fa027;
$whyloremnumber:#5fa027;
$dotbg:white;
$dotboorder:#5fa027;
$btns: #5fa027;
$iconcolor:#5fa027;
$allvisited:#5fa027;
$allonehover:#5fa027;
$allonehovercolor:#5fa027;
$pricingone:#f1f1f1;
$pricingtwo:#5fa027;
$pricingthree:#f1f1f1;
$pricing-detailspanafter:#5fa027;
$askedbg: #f1f1f1;
$pricingnumber:#5fa027;
$foticons:#675b5b;
$clients:#d2caca;
$bottommade:#5fa027;
$newsbtn: #5fa027;
$fobottom:#1d1d1d;
$nav:#5fa027;
$navss:#5fa027;

    